* {
    box-sizing: border-box;
}

:root {
    --blue: #08A6E4;
    --red: #FB3B64;
    --green: #55DFB4;
    --black: #000000;
    --grey: #A5A5A5;
    --white: #FFFFFF;
    --dark-grey: #707070;
    --grey-background: #F7F7F7;
    --font-raleway: "Raleway", sans-serif;
    --font--open-sans: "Open Sans", sans-serif;
}

body {
    font-family: var(--font--open-sans);
}

a {
    text-decoration: none;
}

h2 {
    font-family: var(--font-raleway);
    font-size: 36px;
    line-height: 42px;
}

.container {
    width: 1352px;
    margin: 0 auto;
}

/**
header
 */

header {
    height: 70px;
    box-shadow: 0px 3px 6px #00000029;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.header__nav {
    display: flex;
}

.logo {
    color: var(--blue);
    font-family: var(--font-raleway);
    font-size: 32px;
    font-weight: 300;
    line-height: 37px;
}

.header__nav__element {
    padding-right: 83px;
}

.header__nav__element:last-child {
    padding-right: 0;
}

.header__nav__link {
    color: var(--grey);
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 15px;
    letter-spacing: 3.28px;
    padding: 28px 12px 22 12px;
    border: 4px solid transparent;
}

.header__nav__link:hover {
    color: var(--black);
    border-bottom-color: var(--blue);
}

/**
opener
 */

.opener .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.opener__title {
    font-family: var(--font-raleway);
    font-size: 49px;
    line-height: 57px;
    margin: 130px 0px 20px 0px;
}

.opener__text {
    height: 22px;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 38px;
}

.opener__btn {
    padding: 22px 157px;
    background-color: var(--blue);
    box-shadow: 5px 10px 14px #07ACE629;
    border-radius: 40px;
    border: none;
}

.opener__btn__text {
    color: var(--white);
    font-size: 16px;
    line-height: 22px;
    font-weight: bold;
    font-family: var(--font--open-sans);
}

.opener__img {
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

/**stats
*/

.stats__title {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.stats__elements {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 121px;
}

.stats__circle {
    width: 63px;
    height: 63px;
    position: relative;
    border-radius: 50%;
    margin: 0 auto;
}

.stats__circle_img {
    position: absolute;
}

.stats__element:nth-of-type(1) {
    width: 116px;
    height: 140px;
    margin-right: 185px;
}

.stats__element:nth-of-type(2) {
    width: 176px;
    height: 167px;
    margin-right: 183px;
}

.stats__element:nth-of-type(3) {
    width: 163px;
    height: 168px;
}

.stats__element:nth-of-type(1) .stats__circle {
    background-color: var(--red);
}

.stats__element:nth-of-type(2) .stats__circle {
    background-color: var(--blue);
}

.stats__element:nth-of-type(3) .stats__circle {
    background-color: var(--green);

}

.stats__element:nth-of-type(1) .stats__circle_img {
    left: 45%;
}

.stats__element:nth-of-type(2) .stats__circle_img {
    left: 30%;
    top: 15%;
}

.stats__element:nth-of-type(3) .stats__circle_img {
    left: 45%;
}

.stats__number {
    margin-top: 14px;
    margin-bottom: 19px;
    font-size: 20px;
    line-height: 24px;
    font-family: var(--font-raleway);
    font-weight: 800;
    text-align: center;
    letter-spacing: 6px;
}

.stats__text {
    font-size: 17px;
    line-height: 20px;
    font-family: var(--font-raleway);
    color: var(--grey);
    text-align: center;
}

.stats__element:nth-of-type(2) .stats__text {
   font-size: 16px;
    line-height: 19px;
    width: 176px;
    padding: 0 15px;
}

.stats__element:nth-of-type(3) .stats__text {
    width: 163px;
    padding: 0 15px;
}

/** benefits
 */

.benefits__container {
    background-color: var(--grey-background);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    padding: 100px;
}

.benefits__container__single {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--white);
    height: 370px;
    border: 1px solid #E8E9ED;
    border-radius: 5px;
}

.benefits__container__single:nth-of-type(1) {
    margin-bottom: 37px;
}

.benefits__container__text:nth-of-type(1) {
    margin-left: 3%;
    margin-right: 15%;
    width: 37%;
    height: 188px;
    border-bottom: 4px solid var(--red);
}

.benefits__container__text:nth-of-type(1) .benefits__title {
    padding-bottom: 30px;
}

.benefits__container__text:nth-of-type(1) .benefits__text {
    line-height: 22px;
    width: 416px;
}

.benefits__container__single:nth-of-type(1) .benefits__container__img {
    position: relative;
    height: 294px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 169px;
    margin-right: 71px;
}

.benefits__container__single:nth-of-type(1) .benefits__container__img > .benefits__object {
    background-color: var(--red);
    background-repeat: no-repeat;
    border-radius: 41px;
    width: 180px;
    height: 180px;
    transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
}

.benefits__container__single:nth-of-type(1) .benefits__img > img {
    position: absolute;
    width: 386px;
    height: 219px;
    background-repeat: no-repeat;
    background-size: cover;
    right: 30%;
    top: 30%;
}
