.benefits {
  background-color: $grey-background;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;


  .benefits__container {
    display: flex;
    flex-direction: column;
    padding: 100px 0;

    &:nth-of-type(1) .benefits__container__text > .benefits__text::after {
      content: "";
      background-color: $red;
      height: calc($base-size / 4);
      width: 327px;
      margin-top: 50px;
      display: flex;
    }

    .benefits__container__single {
      display: flex;
      justify-content: space-between;
      background-color: $white;
      height: 370px;
      border: 1px solid #E8E9ED;
      border-radius: calc($base-size / 3.2);

      &:nth-of-type(1) .benefits__container__img {
        position: relative;
        height: 294px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 169px;
        margin-right: 71px;
      }

      &:nth-of-type(1) {
        margin-bottom: 37px;
        display: flex;
        align-items: center;
      }

      &:nth-of-type(1) .benefits__container__text {
        margin-left: 3%;
        margin-right: 15%;
        width: 37%;
        height: 188px;
      }

      &:nth-of-type(1) .benefits__container__img > .benefits__object {
        background-color: $red;
        background-repeat: no-repeat;
        border-radius: 41px;
        width: 180px;
        height: 180px;
        transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
      }

      &:nth-of-type(1) .benefits__img > img {
        position: absolute;
        width: 386px;
        background-repeat: no-repeat;
        background-size: cover;
        right: 30%;
        top: 30%;
      }

      &:nth-of-type(2) {
        margin-bottom: 37px;
        display: flex;
        flex-direction: row-reverse;
      }

      &:nth-of-type(2) .benefits__container__text {
        margin-left: 17%;
        margin-right: 1.7%;
        height: 230px;
        display: flex;
        flex-direction: column;
        margin-top: 69px;
      }

      &:nth-of-type(2) .benefits__container__text > .benefits__text::after {
        content: "";
        background-color: $blue;
        height: calc($base-size / 4);
        width: 327px;
        margin-top: 50px;
        display: flex;
      }

      &:nth-of-type(2) .benefits__container__text > .benefits__title {
        width: 246px;
      }

      &:nth-of-type(2) .benefits__container__img {
        position: relative;
        margin-left: 6%;
        margin-top: 12px;
      }

      &:nth-of-type(2) .benefits__img > img {
        width: 426px;
        position: absolute;
        top: 5%;
      }

      &:nth-of-type(2) .benefits__img::before {
        content: "";
        display: flex;
        width: 320px;
        height: 320px;
        background-color: $blue;
        background-repeat: no-repeat;
        border-radius: 50%;
      }

      &:nth-of-type(3) {
        background-color: $grey-background;
        background-repeat: no-repeat;
      }

      &:nth-of-type(3) .benefits__container__text {
        width: 60%;
        background-color: $white;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        padding: 69px 33px;
      }

      &:nth-of-type(3) .benefits__container__text > .benefits__title {
        width: 348px;
      }

      &:nth-of-type(3) .benefits__container__text > .benefits__text {
        width: 553px;
      }

      &:nth-of-type(3) .benefits__container__text > .benefits__text::after {
        content: "";
        background-color: $green;
        height: 4px;
        width: 327px;
        margin-top: 50px;
        display: flex;
      }

      &:nth-of-type(3) .benefits__container__img {
        width: 440px;
        background-color: $green;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      &:nth-of-type(3) .benefits__img > img {
        width: 295px;
        padding-top: 50px;
      }

      .benefits__container__text {

        &:nth-of-type(1) .benefits__title {
          padding-bottom: 30px;
        }

        &:nth-of-type(1) .benefits__text {
          line-height: calc($base-size * 1.375);
          width: 416px;
        }
      }
    }
  }
}