.stats {
  margin-top: 100px;

  @include mobile {
    margin-top: 50px;
  }

  .stats__title {
    text-align: center;
  }

  .stats__container {
    max-width: 800px;
    margin: 100px auto 120px;
    display: flex;
    justify-content: space-between;

    @include mobile {
      margin: 35px auto 50px;
      align-items: center;
      flex-direction: column;
    }
    
    .stats__element {
      max-width: 160px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      text-align: center;
      font-family: $font-raleway;

      @include mobile {
        margin-bottom: 35px;
      
        &:last-child {
          margin-bottom: 0;
        }
      }
      
      .stats__circle {
        width: 63px;
        height: 63px;
        position: relative;
        border-radius: 50%;
      }

      .stats__circle_img {
        position: absolute;
      }

      .stats__number {
        margin-top: 13px;
        font-size: 1.25rem;
        letter-spacing: 0.1875rem;
        font-weight: 800;
      }

      .stats__text {
        margin-top: 19px;
        color: $grey;
      }

      &:nth-of-type(1) {

        .stats__circle {
          background-color: $red;
        }

        .stats__circle_img {
          top: 0;
          left: 45%;
        }
      }

      &:nth-of-type(2) {
        .stats__circle {
          background-color: $blue;
        }

        .stats__circle_img {
          top: 14px;
          left: 47%;
        }
      }

      &:nth-of-type(3) {
        .stats__circle {
          background-color: $green;
        }

        .stats__circle_img {
          top: 6px;
          left: 50%;
        }
      }
    }
  }
}